.App {
  text-align: center;
  background: linear-gradient(-45deg, rgb(2, 115, 150), rgb(2, 24, 105));
	background-size: 400% 400%;
	animation: background-move 10s ease infinite;
}

@keyframes background-move {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
