@keyframes background-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@mixin disable-text-selection() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  @include flexCenter();
}

body {
  @include flexCenter();
	min-height: 100vh;
  margin: 0;
  background: linear-gradient(-45deg, rgb(2, 115, 150), rgb(2, 24, 105));
  background-size: 400% 400%;
  animation: background-move 10s ease infinite;
  font-family: "Permanent Marker", cursive;
  color: white;
  
  header {
    @include disable-text-selection();
    letter-spacing: 0.1em;
    font-size: 10vmin;
  }
}
