@use "../styles/constants" as c;
@use "../styles/mixins" as m;

#CV_container {
  flex-direction: row;
  flex-wrap: wrap;
}

.CV_item {
  @include m.flexCenter();
  background-color: rgb(1, 2, 3, 0.1);
  border-radius: 0.5em;
  padding: c.$fontSizeDefault;
  max-width: 95vw;
  overflow: hidden;
  margin: c.$marginDefault;
  fill: c.$primaryTextColor;
  
  svg {
    height: c.$fontSizeDefault * 4;
  }
}

.CV_item_disclaimer {
  margin-bottom: c.$fontSizeDefault / 3;
  color: rgb(255, 255, 255, 0.3);
}
