@use "../styles/constants" as c;

.form-control {
  background-color: rgb(0, 0, 0, 0.7);
  color: c.$primaryTextColor;

  &::placeholder {
    color: gray;
  }

  &:focus {
    background-color: rgb(0, 0, 0, 0.7);
    color: c.$primaryTextColor;
  }
}

#loggedInUsername {
  font-weight: bolder;
};