@use "../styles/constants" as c;

.form-control {
  background-color: black;
  color: white;

  &::placeholder {
    color: gray;
  }

  &:focus {
    background-color: black;
    color: white;
  }
}
