@use "../styles/constants" as c;
@use "../styles/mixins" as m;

// SVG element
.header {
  height: 3em; // header text size really

  // SVG text element
  text {
    @include m.disable-text-selection();
    font-family: "Permanent Marker";
    fill: c.$primaryTextColor;
    letter-spacing: 0.1em;
  }
}