@use "../styles/constants" as c;
@use "../styles/mixins" as m;

.header {
  // alignment and margin
  @include m.flexCenter();
  margin: c.$marginDefault 0 0 0;
  
  // SVG element container's height; i. e. header text size really
  height: c.$fontSizeHeader;
  
  // SVG text element
  text {
    @include m.disable-text-selection();
    fill: c.$primaryTextColor;

    font-family: c.$fontHeader;
  }
}

#landingFace {
  @include m.spinningAnimation();
  height: calc(#{c.$fontSizeHeader} * 2.5); // face's size
  margin-top: c.$marginDefault;
}