// face SVG dimensions: 619.45 x 848.333
.spinning {

  // spinning
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    65% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  animation: spin 2s infinite;
}