@use "../../styles/mixins" as m;
@use "../../styles/constants" as c;

#portfolio {
  @include m.flexCenter();
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;

  .item {
    @include m.flexCenter();
    width: 30em;
    max-width: 95vw;
    overflow: hidden
  }

  a {
    color: rgb(255, 255, 255, 0.3);
  }
}