// text colors
$primaryTextColor: white;

// text selection
$selectionColor: rgb(234, 137, 253);
$selectionBackground: none;

// font sizes
$fontSizeHeader: 5vmax;
$fontSizeDefault: calc(#{$fontSizeHeader} / 3);