@use "./constants" as c;

// center child elements horizontally and vertically
@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// use full viewport area
@mixin fullViewportSize {
  height: 100vh;
  width: 100vw;
}

// prevent text selection (quality of life thing; personal preference)
@mixin disable-text-selection() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// customized text selection for the browsers that support it
@mixin textSelection {
  ::selection {
    color: c.$selectionColor;
    background-color: c.$selectionBackground;
  }
  ::-moz-selection {
    color: c.$selectionColor;
    background-color: c.$selectionBackground;
  }
}

// moving, linear gradient colored background
@mixin breathingBackground {
  @keyframes background-move {
    0%, 100% {
      background-position: 0%;
    }
    75% {
      background-position: 100%;
    }
  }
  
  margin: 0;
  background: linear-gradient(-45deg, rgb(2, 115, 150), rgb(2, 24, 105));
  background-size: 200%;
  animation: background-move 7s ease infinite;
}

// general text styles
@mixin defaultText {
  @include textSelection();

  // text and decoration color
  color: c.$primaryTextColor;
  
  // font
  font-family: "Baloo Da 2";
  font-size: c.$fontSizeDefault;
}