// React Bootstrap's styles
@use "~bootstrap/scss/bootstrap";

// shared constants and mixins
@use "./constants" as c;
@use "./mixins" as m;

// misc components
@use "../components/components";

html {
  @include m.breathingBackground();
}

body {
  @include m.flexCenter();
  @include m.defaultText();
  background: none;
}

html, svg {
  height: 100%;
}

// Note: Headers are defined under ../components/

p {
  margin: c.$marginDefault;
  max-width: 30em;
}

.view {
  @include m.flexCenter();
}
