// React Bootstrap's styles
@use "~bootstrap/scss/bootstrap";

// shared constants and mixins
@use "./constants" as c;
@use "./mixins" as m;

// components and view specific styles
@use "../components/components";
@use "../views/landing/landing";
@use "../views/cv/cv";

html {
  @include m.breathingBackground();
}

body {
  @include m.defaultText();
  background: none;
}

html, body, #root, svg {
  height: 100%;
}

// Note: Headers are defined under ../components/

p {
  max-width: c.$contentMaxWidth;
}

.view {
  @include m.flexCenter();
  padding: c.$paddingDefault;
  width: 100vw;
}
