// shared constants and mixins
@use "./constants" as c;
@use "./mixins" as m;

// misc components
@use "../components/components";

// views' styles
@use "../views/landing/landing";
@use "../views/home/home";

html {
  @include m.breathingBackground();
  @include m.flexCenter();
}

body {
  @include m.defaultText();
}

html, svg {
  height: 100%;
}

// Note: Headers are defined under ../components/

p {
  margin: 2em;
  max-width: 30em;
}

.view {
  @include m.flexCenter();
}
